*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html, body {
      font-family: 'Kanit', sans-serif;
  }
  .container {
  
      width: 100vw;
      height: 100vh;
      background: #DBF6FF;
      background-size: 100vh;
      flex: 1;
      align-items: center;
      overflow: hidden;
      
  }
  
  .container form {
  
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 20px;
      text-align: center;
  }
  .container {

    background-image: url("./assets/ondabaixo.svg"), url("./assets/ondacima.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw, 100vw;
    background-position: bottom, top;
    background-attachment: fixed, fixed;
   
}
.container #logo {

    width: 30vw;
    height: 30wh;
    margin-top: 9vh;
    margin-left: 37vw;
}
.container .reserve {

    appearance: none;
    padding: 10px;
    border: none;
    background-color: #0099FF;
    font-weight: 700;
    font-size: large;
    color: #fff;
    border-radius: 10px;
    width: 40vw;
    height: 7vh;
    font-family: 'Kanit', sans-serif;
    margin: 20px;
}
.container .options #places {

    width: 220px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: smaller;
    border: none;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    padding: 10px;
    appearance: none;
    font-weight: 700;

}

.container .freespots {

    margin-top: 15px;
    font-family: Kanit;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;

}
.container #nospots {

    margin-bottom: 10px;
    margin-right: 20px;
}

.container #time {

    font-family: Kanit;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;

}
.container #openbarrier {

    appearance: none;
    padding: 10px;
    border: none;
    background-color: #0099FF;
    font-weight: 700;
    font-size: large;
    color: #fff;
    border-radius: 10px;
    width: 40vw;
    height: 7vh;
    font-family: 'Kanit', sans-serif;
    margin: 20px;
}
